name: Build & Push steamcmd

on:
  schedule:
  - cron: "* * 1/15 * *"
  workflow_dispatch:

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Docker Login
      run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
    - name: Build the Docker image
      run: docker build . --file Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/steamcmd:latest
    - name: Push Image
      run: docker push steamcmd/steamcmd
